
.board {
  margin: 20px;
}

.board-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-cell {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px black solid;
  font-size: larger;

  height: 100px;
  width: 100%;
}